<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Blue Bay Hotel </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>




<body>

<div class="container">
    <!--<img src="{{ url_for('static', filename='images/hotel1.png') }}" alt="Hotel Image"> <!-- adding a hotel image for visual  -->
    <h1>Blue Bay Hotel    </h1>

    <p class="wave-line">~ ~ ~ ~ ~ ~ ~ ~</p> <!--decorative wave line for a coastal vibe-->

    <form id="bookingForm">
    <input type="hidden" id="booking_id">
    <input type="text" id="first_name" placeholder="First name" required>
    <input type="text" id="last_name" placeholder="Last name" required>

<select id="room_type" required>
    <option value="">Select room</option>
    <option value="Claddagh Suite">Claddagh Suite</option>
    <option value="Blue Bay Rooftop">Blue Bay Rooftop</option>
    <option value="Royal Green">Royal Green</option>
    <option value="Red Zebra Twin">Red Zebra Twin</option>
</select>

    <input type="date" id="check_in" required>
    <input type="date" id="check_out" required>
    <input type="number" id="guests" placeholder="Guests" required>
    <input type="text" id="guest_country" placeholder="Country" required>

    <input type="number" id="price_per_night" placeholder="Price per night (select room first)" required readonly>    <!-- This will be auto-filled based on room selection , read only option-->
    <select id="breakfast">
    <option value="1" selected>Breakfast included (+€15pp)</option>
    <option value="0">Room only</option>
    </select>

    <button type="submit" id="submitBtn">Book Now</button>
</form>

<!-- Button row for showing bookings and checking weather -->

   <div class="button-row">
    <button id="loadBtn" type="button">Show Bookings</button>
    <button id="editBtn" type="button">Edit Bookings</button>
    <button id="weatherBtn" type="button">Check Weather</button>
</div>




<!-- Bookings display section -->
    <div id="bookings"></div>
    
    <button id="backBtn" type="button" style="display: none;">Hide Bookings</button>

<!-- Weather section -->


<section class="weather-section">
    <h2>Check Galway Weather for Your Stay</h2>
    <p class="weather-note">Forecast available up to 15 days ahead.</p>
    <div id="weatherResult"></div>
    <button id="weatherBackBtn" type="button" style="display: none;"> Hide Weather</button>
</section>
</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>


</body>
</html>


