<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Blue Bay Hotel </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<!-- ===== PAGE CONTAINER ===== -->

<div class="container">
    <img src="{{ url_for('static', filename='images/image_paw.png') }}" alt="Hotel Image"> <!-- adding a hotel image for visual  -->
    <h1>Blue Bay Hotel</h1>
    <div class="wave-line">☆ ☆ ☆ ☆ ☆</div>
<!-- ===== BOOKING FORM ===== -->

    <form id="bookingForm">
    <input type="hidden" id="booking_id">
    <input type="text" id="first_name" placeholder="First name" required>
    <input type="text" id="last_name" placeholder="Last name" required>

<select id="room_type" required>
    <option value="">Select room</option>
    <option value="Claddagh Suite">Claddagh Suite</option>
    <option value="Blue Bay Rooftop">Blue Bay Rooftop</option>
    <option value="Royal Green">Royal Green</option>
    <option value="Red Zebra Twin">Red Zebra Twin</option>
</select>

    <input type="date" id="check_in" onkeydown="return false">
    <input type="date" id="check_out" onkeydown="return false">
    <input type="number" id="guests" placeholder="Guests" required>
    <select id="guest_country" required>
    <option value="">Select country</option>

    <option value="Ireland">Ireland</option>
    <option value="France">France</option>
    <option value="Spain">Spain</option>
    <option value="Italy">Italy</option>
    <option value="Germany">Germany</option>
    <option value="United Kingdom">United Kingdom</option>
    <option value="United States">United States</option>
    <option value="Canada">Canada</option>
    <option value="Morocco">Morocco</option>
    <option value="Australia">Australia</option>
    <option value="Greece">Greece</option>
    <option value="Egypt">Egypt</option>
</select>


    <input type="number" id="price_per_night" placeholder="Price per night (select room first)" required readonly>    <!-- This will be auto-filled based on room selection , read only option-->
    <select id="breakfast">
    <option value="1" selected> Breakfast (+€15pp)</option>
    <option value="0">Room only</option>
    </select>

    <button type="submit" id="submitBtn">Book Now</button>
</form>

<!-- ===== ACTION BUTTONS ===== -->

   <div class="button-row">
    <button id="loadBtn" type="button">Show Bookings</button>
    <button id="editBtn" type="button">Edit Bookings</button>
    <button id="deleteModeBtn" type="button">Delete Booking</button>
    <button id="weatherBtn" type="button">Check Weather</button>
</div>

<div id="editContainer"></div>

<!-- ===== WEATHER SECTION ===== -->


<section class="weather-section">
    <h2>Check Galway Weather for Your Stay</h2>
    <p class="weather-note">Forecast available up to 15 days ahead.</p>
    <div id="weatherResult"></div>
    <button id="weatherBackBtn" type="button" style="display: none;"> Hide Weather</button>
</section>
</div>


<!-- ===== BOOKINGS DISPLAY ===== -->


    <div id="bookings"></div>
    
    <button id="backBtn" type="button" style="display: none;">Hide Bookings</button>


<!-- ===== COUNTRY CHART SECTION ===== -->

<section class="chart-section">
    <h2>They Visited From Around the World</h2>

    <button id="chartBtn" type="button">
    Show Guest Country Chart
</button>

<canvas id="countryChart"></canvas>
</section>



<!-- ===== JAVASCRIPT FILE ===== -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>


</body>
</html>


